.back {
    width: '50px';
    height: '20px';
    margin-top: '5px';
}

.body {
    width: '250px';
    margin: auto;
}

.button2 {
    width: '218px';
    margin-bottom: '20px';
}

.header {
    display: 'block'
}

.modal {
    width: '450px';
    margin-left: '35%';
}